
.navigation {
    width: 100%;
    margin: 0 auto;

}


body {
     color: aliceblue;
}

.logo {
    float: left;
    padding: 10px 0;
    max-width: 50px;
    max-height: 50px;

}

h1 {
    display:flex;
    justify-content: center;
    
}

p {
    margin: 80px;
    padding: 20%;
    
}

.iframe-container {
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
}

img {
    border-radius:30%;
}