.navigation {
    width: 100%;
    margin: 0 auto;
  }
  
  .logo {
    float: left;
    padding: 10px 0;
    max-width: 50px;
    max-height: 50px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
h1 {
    display: flex;
    justify-content: center;
    color:aliceblue;

}
p {
    display: flex;
    justify-content: center;
    margin: 50px;
}

form {
    display:block;
    background-color: rgb(227, 215, 154);
    width: fit-content;
    justify-content: center;
    padding: 25px;
    border-style:solid;
}


.container  {
    display:flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 100px;
}





